@charset "UTF-8";

html{
	background-color: #565;
	height:100%;}
	body {
		font-family: arial, sans-serif;
		font-size: 16px;
		font-style: normal;
		color: #ddd;
		height:100%;}
		h1,h2,h3,h4{
			color: #ddd;
			border-bottom: 1px dashed #ddd;
			text-align: center;}

/*************************/
/*************************/
/*************************/
/*************************/
#container_jeu{
	margin:auto;
	padding:0;
	width:194px;}
	#jeu{
		border:1px solid #000;
		width:192px;
		height:192px;}
		.case{
			display:inline-block;
			width:62px;
			height:62px;
			border:1px solid #000;
			margin:0;
			padding:0;}
			.vierge{
				background-color: #666;}
			.noir{
				background-color: #000;}
			.blanc{
				background-color: #fff;}
			.rouge{
				background-color: #f00;}
			.vert{
				background-color: #0f0;}
			.bleu{
				background-color: #00f;}
			.jaune{
				background-color: #ff0;}
			.cyan{
				background-color: #0ff;}
			.magenta{
				background-color: #f0f;}

/*************************/
/*************************/
/*************************/
/*************************/
#fin_de_partie{
	display:none;}
	#fin_de_partie_ecran{
		width:100%;
		height:150px;
		
		position:absolute;
		top:80%;
		margin-top:-75;
		margin-right:-150;
		border: 100% dashed #000;
		
		background-color:rgba(0, 0, 0, 0.8);
		text-align:center;}
		#fin_de_partie_ecran > h2{
			border:none;}
		#fin_de_partie_ecran > input {
			background-color: rgba(255,0,0,0.2);
			border: 3px solid rgba(255,0,0,0.5);
			height: 35px;
			border-radius: 50px;
			color: #fff;
			
			-moz-transition: all .4s; 
			-webkit-transition: all .4s; 
			-o-transition: all .4s; 
			transition: all .4s;}
		#fin_de_partie_ecran > input:hover {
			background-color: rgba(0,255,255,0.2);
			border: 3px solid rgba(0,255,255,0.5);
			-moz-box-shadow: 0px 0px 50px 0px #00ffff;
			-webkit-box-shadow: 0px 0px 50px 0px #00ffff;
			-o-box-shadow: 0px 0px 50px 0px #00ffff;
			box-shadow: 0px 0px 50px 0px #00ffff;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#00ffff, Direction=NaN, Strength=50);
			
			-moz-transition: all .4s; 
			-webkit-transition: all .4s; 
			-o-transition: all .4s; 
			transition: all .4s;}
			
/*************************/
/*************************/
/*************************/
/*************************/		
.cache{
	background-color:rgba(0, 0, 0, 0.8);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;}
.displayNone{
	display: none;
}

/*************************/
/*************************/
/*************************/
/*************************/
.joueur_actif{
	color : #fff;
	text-decoration : underline;
}
.cube{
	width: 30px;
	height: 30px;
	margin-right: 6px;
	margin-bottom: -10px;
	display: inline-block;
	border: 1px solid black;
}