
<div class="grid_12">
    <h1>Morpion multijoueur</h1>
</div>
<div class="clear"></div>

<div class="grid_12">
    <div id="menu_container">
        <a class="topcoat-button--large button-green changeViewButton" data-viewTarget="computer_game" >Jouer contre l'ordinateur</a>
        <a class="topcoat-button--large button-green changeViewButton" data-viewTarget="local_game" >Jouer contre un ami</a>
        <a class="topcoat-button--large button-yellow changeViewButton" data-viewTarget="join_netgame" >Rejoindre partie distante</a>
        <a class="topcoat-button--large button-yellow changeViewButton" data-viewTarget="create_netgame" >Créer partie distante</a>
        <a class="topcoat-button--large changeViewButton" data-viewTarget="options" >Options</a>
        <a class="topcoat-button--large changeViewButton" data-viewTarget="rules" >Règles</a>
        <a class="topcoat-button--large button-red quitButton" >Quitter</a>
    </div>
</div>
