
            <div class="grid_12">
                <h1>Morpion multijoueur</h1>
            </div>
            <div class="clear"></div>

            <div class="grid_12">
                <div id="menu_container">
                    <input type="button" class="changeViewButton" data-viewTarget="localgame" value="Jeu en local">
                    <input type="button" class="changeViewButton" data-viewTarget="game" value="Jeu sur le net">
                    <input type="button" class="changeViewButton" data-viewTarget="options" value="Options">
                    <input type="button" class="changeViewButton" data-viewTarget="rules" value="Règles">
                    <input type="button" class="quitButton" value="Quitter">
                </div>
            </div>
