
            <div class="grid_12">
                <h1>Morpion multijoueur</h1>
            </div>
            <div class="clear"></div>

            <div class="grid_12">
                <div id="menu_container">
                    <a class="topcoat-button--large button-green changeViewButton" data-viewTarget="todo" >Jouer contre l'ordinateur</a>
                    <a class="topcoat-button--large button-green changeViewButton" data-viewTarget="localgame" >Jouer contre un ami</a>
                    <a class="topcoat-button--large button-yellow changeViewButton" data-viewTarget="game" >Rejoindre partie distante</a>
                    <a class="topcoat-button--large button-yellow changeViewButton" data-viewTarget="game" >Créer partie distante</a>
                    <a class="topcoat-button--large changeViewButton" data-viewTarget="options" >Options</a>
                    <a class="topcoat-button--large changeViewButton" data-viewTarget="rules" >Règles</a>
                    <a class="topcoat-button--large button-red quitButton" >Quitter</a>
                </div>
            </div>
